body{
font-family:Arial;
margin:0;
background:#f1f3f4;
}

header{
background:#4285F4;
color:white;
padding:10px;
display:flex;
gap:8px;
flex-wrap:wrap;
}

#filters{
padding:10px;
background:white;
display:flex;
gap:10px;
flex-wrap:wrap;
}

#agenda{
display:flex;
gap:10px;
padding:10px;
overflow-x:auto;
}

.day{
background:white;
min-width:220px;
padding:10px;
border-radius:8px;
}

.hour{
font-size:11px;
color:#999;
border-top:1px solid #eee;
height:35px;
}

.event{
color:white;
padding:4px;
border-radius:5px;
margin-top:3px;
display:flex;
gap:5px;
align-items:center;
font-size:12px;
}

.event img{
width:18px;
height:18px;
}

.bigIcons .event{
flex-direction:column;
text-align:center;
}

.bigIcons .event img{
width:36px;
height:36px;
}

.dayView #agenda{
width:80%;
margin:auto;
}
